<div id="content" class="container"></div>

<script>
$(function () {
	Trello.drag = [];
  Trello.initialize();
	Trello.navigate('/session/new', { trigger: true });
});
</script>

<div class="add-modal"></div>