<div class="btn open-card-composer">Add a Card...</div>
<form class="new-card panel hideable hidden" id="<%= list.escape('id') %>">
	<!-- <label>Card Name -->
		<textarea class="title" autofocus="autofocus"></textarea>
	<!-- </label> -->
	<!-- <label>Description
		<input type="text" class="description" name="card[description]">
	</label> -->
	<!-- <label>Rank
		<input type="text" name="card[rank]">
	</label> -->
	<!-- <br> -->
	<!-- <input type="hidden" name="card[list_id]" value="<%= list.escape("id") %>"> -->
	<input type="submit" class="btn btn-success add" value="Add">
	<!-- <a class='close-form'>x</a> -->
</form>