<form class="new-card">

	<label>Card Name
		<input type="text" name="card[title]">
	</label>
	<label>Description
		<input type="text" name="card[description]">
	</label>
	<label>Rank
		<input type="text" name="card[rank]">
	</label>
	<input type="hidden" name="card[list_id]" value="<%= list.id %>">
</form>