<div class="btn open-card-composer">Add a Card...</div>
<form class="new-card panel hideable hidden <%= list.escape('id') %>" >
		<textarea class="title" autofocus="autofocus"></textarea>
	<input type="submit" class="btn btn-success add" value="Add">
</form>