<form class="new-card">
	<label>Card Name
		<input type="text" name="card[title]">
	</label>
	<br>
	<label>Description
		<input type="text" name="card[description]">
	</label>
	<br>
	<label>Rank
		<input type="text" name="card[rank]">
	</label>
	<br>
	<input type="hidden" name="card[list_id]" value="<%= list.escape("id") %>">
	<input type="submit" class="btn">
</form>