<div class="Jumbotron">
  <div class="container">
    <h1> Index Boards </h1>
    <ul class="media-list">
    <% boards.each(function(board){ %>
      <li ><a href="#/board/<%= board.escape("id") %>">
          <%= board.escape("title") %></a></li>
    <% }) %>
    <ul>

    <form class="form">
      <label>New Board Title
        <input type='text' name="board[title]">
      </label>
      <input  class="btn" type='Submit'>
    </form>
    <a href="#/board/new" class="btn">New Board </a>
  </div>
</div>