    <div class="modal fade" id="add-member" tableindex="-1" role="dialog" aria-labelleby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <form class="add-member">
              <label>Enter the member's Email
                <input type="text" name="newMemberEmail">
              </label>
                <br>
                <input class='btn' type='Submit'>
              </form>
                <button type="button" class='btn delete-board close' data-dismiss="modal">Delete Board</button>
          </div>
        <div>
      </div>
    </div>