<h2>
  <div class="board-title"><%= board.escape('title') %></div>
</h2>
<button type="button" class='btn trello-button-format delete-board' >Delete Board</button>
<!-- <button type="button" class="show-form btn-sm">Add List</button> -->

<!-- <h2>Lists </h2> -->

<ol class="list-of-lists lists list-sortable">

</ol>
<br>
<div class="add-list-form"></div>