<div class="row">
  <div class="col-md-2">
    <a href="#">Index Page </a>
  <h2>
    <%= board.escape('title') %>
  </h2>
</div>
      <div class="col-md-5">
      <h1>Create a New List </h1>
      <form class="add-list">
        <label>Title
          <input type="text" name="list[title]">
        </label>
        <label>rank
          <input type="text" name="list[rank]">
        </label>
        <br>
          <input type="hidden" name="list[board_id]" value="<%= board.escape("id") %>">
          <input class='btn' type='Submit'>
      </form>
      <form class="add-member">
        <label>Enter the member's Email
          <input type="text" name="newMemberEmail">
        </label>
          <br>
          <input class='btn' type='Submit'>
        </form>
    </div>
      <button type="button" class='btn delete-board'>Delete Board</button>
      <br>
</div>

<h3>Lists</h3>