<div class="row">
    <a href="#">Index Page </a>
  <h2>
    <%= board.escape('title') %>
  </h2>
     <button type="button" class='btn-sm delete-board' >Delete Board</button>
  <ul class="items">
     <li>
       <div class="add-list-form">
       </div>
    </li>
<h2>Lists </h2>
  <ol class="lists"></ol>
</div>