
<a href="#">Index Page </a>
<h2>
  <%= board.escape('title') %>
</h2>
<button type="button" class='btn-sm delete-board' >Delete Board</button>
<!-- <button type="button" class="show-form btn-sm">Add List</button> -->
<!-- <div class="add-list-form" ></div> -->
<h2>Lists </h2>
<ol class="list-of-lists lists add-list-form">

</ol>
