	<textarea class="show-new-comment-form" placeholder="Write a comment..."></textarea>
<div class="new-comment-form">
		<textarea class="new-comment-input comment-body modal-textarea" placeholder="Write a comment..."></textarea>
		<input type="submit" class="btn btn-success add-comment-button" value="Comment">
</div>