
<div class="comment-body">
	<p>
		<br>
		<%= comment.escape("body") %>
	</p>
</div><span class="white-text"><%= moment(comment.attributes.created_at).fromNow()  %></span><a class="delete-comment white-text" id="<%= comment.id %>">Delete</a>
<br>