	<div class="modal fade" id="cardDetails">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title"><%= card.escape("title") %> in <%= list.escape('title') %></h4>
	      </div>
	      <div class="show-comment-form modal-body">
					<% var description = card.escape("description") %>
					<% if(description === null || description.length === 0) { %>
						<a class="hide-on-edit show-form white-text">
							<span class="glyphicon glyphicon-pencil"></span>
							Edit the description
						</a>
					<% }  else  {  %>
						Description
						<a class="hide-on-edit show-comment-form white-text">Edit</a>
				<% } %>
			</div>
				<form class="description">
						<textarea class="description-body modal-textarea" autofocus="autofocus"></textarea>
					<input type="submit" class="btn btn-success add" value="Save">
				</form>
				<p><%= card.escape("description") %></p>
	      <!-- </div> -->
				<h4>Activity</h4>
				<div class="comment-form"></div>
				<ol class="comment-list"></ol>
	      <div class="modal-footer">

	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div>