/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

body {
 background: #F0AD4E;
}

.panel {
}

.lists > div {
	border-style: solid;
	border-width: thin;
}

.lists {
	padding-left: 0;
  list-style: none;
//	border-style: solid;
//	border-width: thin;
	white-space: nowrap;
	overflow-x: scroll;
//	overflow-y: auto;
	position: relative;


}


.lists li {
  width: 150px;
  display: inline-block;
	background: white;
	border-radius: 15px;
	border-color: #3276B1;
	border-style: solid;
	border-width: thick;
  background-color: rgba(230, 230, 230, 1);
	overflow-x: scroll;


}