
<div class="btn open-list-composer">Add a List...</div>

<form class="add-list hideable " >
    <input type="text" id="title" name="list[title]" placeholder="Add a list...">
    <input class='btn btn-success save' type='Submit' value="Save">
</form>

