<form>
    <input type="text" id="title" name="list[title]" placeholder="Add a list...">
	<input type="hidden" name="list[rank]" value="">
  <label>rank
    <input type="text" name="list[rank]">
  </label>
     <input type="hidden" name="list[board_id]" value="<%= board.escape('id') %>">

    <input class='btn btn-success save' type='Submit' value="Save">
</form>

