
<h4 class="list-title">
	<%= list.escape('title') %>
	<span class="glyphicon glyphicon-remove delete-list float-right-button "></span>
	<!-- <button class="btn btn-error delete-list">x</button> -->
</h4>
<ol class="cards-list cards-sortable">
</ol>

<div class="card-form"></div>
